@font-face {
	font-family: 'FiraGO';
	src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
		url('/fonts/FiraGO-Regular.woff') format('woff');
}
@font-face {
	font-family: 'FiraGO Light';
	src: url('/fonts/FiraGO-Light.woff2') format('woff2'),
		url('/fonts/FiraGO-Light.woff') format('woff');
}
@font-face {
	font-family: 'FiraGO Thin';
	src: url('/fonts/FiraGO-Thin.woff2') format('woff2'),
		url('/fonts/FiraGO-Thin.woff') format('woff');
}

@media (prefers-color-scheme: light){
	body {
		background-color: azure;
	}
	h1,h2,h3,h4,body,p {
		color: #darkslategray;
	}
	.nav{
		background-image: linear-gradient(to bottom, #85fdff, #85fdff40, #85dff000);
	}
	a {
		color: #008284;
	}
	a:hover {
		color: darkgoldenrod;
	}
}

@media (prefers-color-scheme: dark){
	h1,h2,h3,h4,body {
		color: #ddd;
	}
	body {
		background-color: #525252;
	}
	.nav{
		background-image: linear-gradient(to bottom, #525252, #52525200);
	}
	/*.nav li:hover{
		background-color: #474747;
	}*/
	p {
		color: #e2e2e2;
	}
	a {
		color: #9ec356;
	}
	a:hover {
		color: #fec356;
	}
}
 
body {
	font-family:'FiraGO', 'Noto Sans', 'Sans-Serif';
	margin: 60px auto;
	width: 72%;
}
.container {
	min-height: 64vh;
	margin-top: 6rem;
}
.nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
}
.nav ul li {
	margin: 0;
	padding: 0.05rem 0.5rem 0.05rem 0.5rem;
}
.nav li:hover{
	border-radius: 0.25rem;
	transition: background-color 0.1s ease-in;
}
.nav ul, footer ul {
	font-family:'FiraGO Light', 'Noto Sans', 'Sans-Serif';
	font-variant: all-small-caps;
	/*padding: 0px;*/
	list-style: none;
}
.nav ul li, footer ul li {
	overflow: none;
	display: inline-block;
	margin: 0 0.5rem 0 0.5rem;
}
.nav .icon {
	display: none;
}
.container li {
	width: 52vw;
}
.container li:hover{
/*	background-image: linear-gradient(to right, #474747, #474747, #47474700);*/
	border-radius: 0.25rem;
	transition: background-color 0.1s ease-in;
}
.contact ul li {
	text-align: initial;
	list-style: none;
	font-size: 1.42rem;
	padding: 0.42rem;
}
.contact-small ul li {
	text-align: initial;
	list-style: none;
	font-size: 1rem;
	padding: 0.5rem;
}
.reslinks ul li {
	width: initial;
	float: right;
	font-size: x-large;
}
.reslinks ul li {
	list-style: none;
	padding: 1rem;
	display: inline-block;
}
.reslinks li:hover {
	background-image: initial;
}
a {
	text-decoration: none;
}
a:hover {
	transition: color 0.15s ease-in;
}
h1 {
	font-size: 2.7rem;
	font-family:'FiraGO Light', 'Noto Sans', 'Helvetica', 'Sans-Serif';
}
h2 {
	font-size: 2rem;
	font-family:'FiraGO Light', 'Noto Sans', 'Helvetica', 'Sans-Serif';
}
h3 {
	font-size: 1.21rem;
	font-family:'FiraGO Light', 'Noto Sans', 'Helvetica', 'Sans-Serif';
}
h4 {
	font-size: 1.1rem;
	font-family:'FiraGO Light', 'Noto Sans', 'Helvetica', 'Sans-Serif';
}
p {
	font-size: 1.2rem;
	line-height: 1.42em;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.99rem;
}

body ul li {
	font-size: 1.11em;
	line-height: 1.64rem;
}
#blurb ul li {
	font-size: 1.42rem;
	padding: 0.71rem 0 0.71rem 0;
	list-style: none;
}
ul.posts {
	margin: 20px auto 40px;
	font-size: 1.21em;
}

ul.posts li {
	list-style:none;
	text-align: initial;
	padding: 1rem;
}

.post img {
		height: 11rem;
		border-radius: initial; 
		float: left;
		margin: 1% 2% 0 0;
	}

@media screen and (max-width: 64rem) /*and (orientation: portrait)*/ {
	.nav {
		height: 6.66rem;
	}
	.nav a {
		display: none;
		font-size: 3rem;
	}
	.nav a.icon {
		display: block;
		position: fixed;
		right: 3rem;
		top: 2rem;
	}
	.nav.responsive {
		background: #525252;
		position: fixed;
		right: 0;
		top: 0;
		height: 100%;
		z-index: 100;
	}
	.nav.responsive a {
		display: block;
		width: 100vw;
		text-align: center;
	}
	.nav.responsive a.icon {
		position: fixed;
		right: 3rem;
		top: 2rem;
		text-align: right;
	}
	.nav.responsive ul {
		height: 100vh;
	}
	.nav.responsive li {
		padding-top: 10vh;
		margin: 0;
	}
	html {
		font-size: 1.52rem;
		text-align: center;
	}
	h1 {
		display: inline-grid;
	}
	img {
		border-radius:50%;
		height: 11rem;
		margin: 0 auto;
	}	
	#blurb p {
		text-align: center;
	}
	.container p {
		text-align: initial;
	}
	.container ul {
		text-align: initial;
	}
	#resume {
		text-align: initial;
	}
}
@media screen and (min-width: 64rem) and (max-width: 74rem) /* and (orientation: landscape)*/ {
	html {
		font-size: 1.33rem;
		text-align: center;
	}
	img {
		border-radius:50%;
		height: 9rem;
		margin: 0 auto;
		vertical-align: middle;
	}
	h1 {
		text-align: initial;
		display: inline-block;
	}
	nav ul {
		padding: 1rem 0 2rem 0;
	}
	nav ul li {
		font-size: 1.52rem;
	}
	.container {
		text-align: initial;
	}
}
@media screen and (min-width: 74rem){
	html {
		font-size: 1rem;
	}
	img {
		border-radius:50%;
		height: 7rem;
		margin: 0 auto;
		vertical-align: middle;
	}
	footer {
		text-align: right;
	}
	nav ul {
		padding: 1rem 0 2rem 15%;
	}
}

.childDiv{
	width: 33.3%;
}
.left { 
float: left;
}
.right {
float: right;
}
.center {
float: none;
}

#progbarbase {
	width: 100%;
	background-color: grey;
	border-radius: 10px;
}
#progbar {
	width: 1%;
	height: 1vh;
	border-radius: 10px;
	background-color: #9ec356;
}
