body {
	font-family:'FiraGO Regular', 'Noto Sans', 'Sans-Serif';
	margin: 60px auto;
	width: 72%;
	color: #ddd;
	background-color: #525252;
}
.container {
	min-height: 64vh;
	padding-bottom: 4vh;
}
nav ul, footer ul {
	font-family:'FiraGO Light', 'Noto Sans', 'Sans-Serif';
	font-variant: all-small-caps;
	padding: 0px;
	list-style: none;
}
nav ul li, footer ul li {
	overflow: auto;
	display: inline-block;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: #9ec356;
}
a:hover {
	color: #fec356;
}
h1 {
	font-size: 2.7em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
h2 {
	font-size: 2em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
h3 {
	font-size: 1.21em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
p {
	font-size: 1.42em;
	line-height: 1.42em;
	color: #e2e2e2;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.99rem;
}

body ul li {
	font-size: 1.11em;
	line-height: 1.64rem;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.21em;
}

ul.posts li {
	list-style:none;
}

}

.img-circle {
	border-radius: 50%;
	vertical-align: middle;
}

@media screen and (min-width: 16rem) and (max-width: 48rem) {
	html {
		font-size: 15px;
		text-align: center;
	}
	h1 {
		display: inline-grid;
	}
	img {
		border-radius:50%;
		height: 11rem;
		margin: 0 auto;
		vertical-align: middle;
	}	
}

@media screen and (min-width: 48rem){
	html {
		font-size: 16px;
	}
	img {
		border-radius:50%;
		height: 7rem;
		margin: 0 auto;
		vertical-align: middle;
	}

.childDiv{
	width: 33.3%;
}
.left { 
float: left;
}
.right {
float: right;
}
.center {
float: none;
}
