{
	display: block;
	overflow: auto;
}

body {
	margin: 60px auto;
	width: 70%;
	color: #ddd;
	background-color: #525252;
}
nav ul, footer ul {
	font-family:'FiraGO Thin', 'Noto Sans', 'Sans-Serif';
	font-weight: bold;
	font-variant: all-small-caps;
	padding: 0px;
	list-style: none;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: #999;
}
a:hover {
	color: #fec356;
}
h1 {
	font-size: 3em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
h2 {
	font-size: 2em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
h3 {
	font-size: 1em;
	font-family:'FiraGO Thin', 'Noto Sans', 'Helvetica', 'Sans-Serif';
	color: #ddd;
}
p {
	font-size: 1.42em;
	line-height: 1.42em;
	color: #999;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}

body ul {
	font-size: 1.01rem;
	line-height: 1.64rem;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.21em;
}

ul.posts li {
	list-style:none;
}

img {
	border-radius:50%;
	height:80px;
	margin: 0 auto;
	width: 80px;
	vertical-align: middle;
}

.img-circle {
	border-radius: 50%;
	vertical-align: middle;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 48rem){
	html {
		font-size: 16px;
	}
}
