<!DOCTYPE html>
<html>
	<footer>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://github.com/bBoxType/FiraGO/blob/master/Fonts/FiraGO_WEB_1001/Roman/FiraGO-Regular.woff">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans"> 
		<ul>
			<li><a href="mailto:mstfacmly@studioslune.com"><i class="fas fa-envelope"></i></a></li>
			<li><a href="https://twitter.com/mstfacmly"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://mastodon.social/@mstfacmly"><i class="fab fa-mastodon"></i></a></li>
			<li><a href="https://github.com/mstfacmly"><i class="fab fa-github"></i></a></li>
			<li><a href="https://patreon.com/mstfacmly"><i class="fab fa-patreon"></i></a></li>
			<li><a href="https://www.linkedin.com/in/moustafa-chamli-435b30b0/"><i class="fab fa-linkedin-in"></i></a></li>
			<li><a href="https://mstfacmly.com/atom.xml"><i class="fas fa-rss"></i></a></li>
		</ul>
		</footer>
</html>
